    <nav class="flex mt-6">
      <h1 class="text-white text-3xl font-jaldi font-bold flex-grow">dillon o'connor</h1>
      <%= mail_to "oconnor.dillon8@gmail.com", "Contact",
          class: "flex justify-center py-1.5 px-3 
          text-white font-jaldi rounded-md border border-gray-300 
          opacity-75 hover:opacity-100 transition duration-250 mx-1" %>
      <%= link_to "GitHub", "https://github.com/dillonoconnor",
          class: "flex justify-center py-1.5 px-3 
          text-white font-jaldi rounded-md border border-gray-300 
          opacity-75 hover:opacity-100 transition duration-250 mx-1" %>
    </nav>